<div class="content">
    <h3 class="mb-3">Lista de usuarios</h3>
    <table class="table text-center table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <button class="btn btn-hacr" (click)="delete(user.username)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-hacr" (click)="edit(user.username)">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a [routerLink]="['/createdit']" routerLinkActive="router-link-active" >Crear un elemento</a>
    </div>
</div>